name: Main

on:
- push
- pull_request

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        ruby:
        - '3.2'
        - '3.3'
        - '3.4'
        - truffleruby-head
        exclude:
        - os: windows-latest
          ruby: truffleruby-head
    name: CI
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby }}
    - name: Test
      run: bundle exec rake test

  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: '3.2'
    - name: Check
      run: |
        bundle exec rake stree:check
        bundle exec rubocop
